<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GAME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<h2 xmlns="http://www.w3.org/1999/html"> Hello, {{ userhand.name }}! So, dealing cards...</h2>
<p><i>{{ userhands }} and this is {{ mes1 }} points.</i> </p>
<p><i>{{ dealerhands }} - this is {{ mes2 }} points.</i></p>

{% if not mes4 or mes7%}
        <h3>Do u need one more card?</h3>
    <button onclick="location.href='{{url_for('addcard', id=id)}}'">YES</button>
<br>
<br>
<button onclick="location.href='{{url_for('result', id=id)}}'">NO</button>
{% endif %}


{% block more %}
{% endblock %}

{% block result %}
{% endblock %}













</body>
</html>